

.buttonconnect{

          position: absolute;
          right: -20px;
          top: 30px
          
}

.whosholdtext{
          top: -30px;
          position: relative;
          
}
.logocontaner{
          position: relative;
          top: 10px;
          left: -20px;
}